{{ attach_library('b2b/entity-impact') }}

{% set config = [
    'entity-impact',
    'theme-' ~ theme
  ]|join(' ') %}

<article{{ attributes.setAttribute('class',config) }}>

  <div class="content">

    <h3>{{ heading|typography }}</h3>

    <div class="text">
      {{ text }}
    </div>

    <p class="footer">
      {{ link }}
    </p>
  </div>

  {{ image }}

</article>
